<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Correct FULL class name -->
    <bean id="student" class="com.example.spring_sample.StudentXml">
        <property name="name" value="Maris"/>
        <property name="age" value="22"/>
        <property name="city" value="Tamil Nadu"/>
    </bean>

</beans>